name: Java CI with Maven

on: workflow_call

jobs:
  build:
    strategy:
      matrix:
        #os: [ubuntu-latest, macOS-latest, windows-latest]
        java: [8, 9, 11]
        
    #runs-on: ${{ matrix.os }}
    runs-on: ubuntu-latest
        
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
          
      - if: matrix.java == '8'
        run: |
          echo " mvn --batch-mode --update-snapshots package"

      - if: matrix.java == '9'
        run: |
          echo " mvn --batch-mode --update-snapshots package"
