name: pipelineConfig
on:
  workflow_call:
      outputs:
         pipelineType:
            value: ${{ jobs.example_job.outputs.output1 }}
         language:
            value: ${{ jobs.example_job.outputs.output2 }}
         javaVersion:
            value: ${{ jobs.example_job.outputs.output3 }}
         buildTool: 
            value: ${{ jobs.example_job.outputs.output4 }}
         appName: 
            value: ${{ jobs.example_job.outputs.output5 }}
         NewJarFileName: 
            value: ${{ jobs.example_job.outputs.output6 }}
         TragetFileType: 
            value: ${{ jobs.example_job.outputs.output7 }}
jobs:
  example_job:
    name: Generate output
    runs-on: ubuntu-latest
    outputs:
      output1: ${{ steps.step1.outputs.pipelinetype }}
      output2: ${{ steps.step2.outputs.language }}
      output3: ${{ steps.step3.outputs.javaVersion }}
      output4: ${{ steps.step4.outputs.buildTool }}
      output5: ${{ steps.step5.outputs.appName }}
      output6: ${{ steps.step6.outputs.NewJarFileName }}
      output7: ${{ steps.step7.outputs.TragetFileType }}
    steps:
      - id: step1
        run: echo "::set-output name=pipelinetype::'azureappservice'"
      - id: step2
        run: echo "::set-output name=language::'java'" 
      - id: step3
        run: echo "::set-output name=javaVersion::1.8"
      - id: step4
        run: echo "::set-output name=buildTool::'maven'" 
      - id: step5
        run: echo "::set-output name=appName::abc"
      - id: step6
        run: echo "::set-output name=NewJarFileName::'app.jar'" 
      - id: step7
        run: echo "::set-output name=TargetFileType::'jar'"
